    html {
      box-sizing: border-box;
      background: #F5F5F5;
      font-family: 'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }
    
    body {
      margin: 0;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    h1 {
      margin-top: 0;
    }
    .site-wrap {
      max-width: 700px;
      margin-left: 160px;
      background: white;
      padding: 40px;
      text-align: justify;
    }
    .align-left {
      float: left;
      margin-right: 20px;
    }
    .align-right {
      float: right;
      margin-left: 20px;
    }
    .slide-in {
      opacity: 0;
      transition: all .5s;
    }
    .align-left.slide-in {
      transform: translateX(-30%) scale(0.95);
    }
    
    .align-right.slide-in {
      transform: translateX(30%) scale(0.95);
    }
    .slide-in.active {
      opacity: 1;
      transform: translateX(0%) scale(1);
    }
    nav {
      padding-top: 40px;
      width: 160px;
      height: 100%;
      background-color: #111;
      position: fixed;
    }
    nav > a {
      color: #818181;
      font-size: 25px;
      padding: 10px 10px 12px 40px;
      display: block;
      text-decoration: none;
    }
    a:hover {
      color: #f1f1f1;
    }
  
    /*@media screen and (min-width: 750px) {*/
    /*    .site-wrap { margin-left: 400px; }*/
    /*     nav { */
    /*       padding: 40px 0px 0px 0px;*/
    /*        margin-left: 200px;*/
    /*       width: 200px;*/
    /*       }*/
    /*}*/